html, body {
  width: 100px;
  background-color: #1b1b23;
}

.hidden {
  display: none;
}

.button {
  margin: 1% auto;
  #padding: 4px;
  text-align: left;
  font-size: 0.85em;
  color: #FFFFFF;
  cursor: pointer;
}

.selector {
  background-color: #1b1b23;
}

.selector:hover {
	color: #FF0000;
	--background-color: #666666;
}