html,
body {
  width: 130px;
  background-color: #1b1b23;
}

.hidden {
  display: none;
}

.button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  font-family: 'Consolas', consolas !important;
  margin: 1% auto;
  padding: 1px;
  text-align: left;
  font-size: 0.85em;
  color: #FFFFFF;
  cursor: pointer;
}

.gtfo-menu-button::after {
  content: " v";
  float: right;
}

.gtfo-submenu {
  display: block;
  margin-left: 12px;
  border-left: 1px solid #555;
  padding-left: 6px;
}

.gtfo-submenu-button {
  color: #cfcfcf;
}

.selector {
  background-color: #1b1b23;
}

.selector:hover {
  color: #FF0000;
  --background-color: #666666;
}
